<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Orbitron" />

<article class="container" id="home">
  <div class="row"> 
    <div class="col-md-12">
        <br><br><br><br><br><br>
    </div>
  </div>
</article>

<article class="container">
  <div class="row-cont" style="text-align:left; margin-left:-5.50em">
    <div class="col-md-3" >
	  <div class="row-l-col">
		<div id="ap">
			<img style="display:block" class="bottom" src="../assets/img/e8ba80ceb74c449c50abff0a4350f2e3.0.png" />
			<img style="display:block" class="top" src="../assets/img/Logo_Start_Transparent.png" />
		</div> 	
	  </div> 	
    </div> 
	<div class="col-md-9">
					 <div >
              <img style="display:block" class="bottom" src="../assets/img/AP_Title_and_Slogan_Transparent.png" />
					</div>
		</div>
  </div>
</article>

<article class="container">
    <div class="row"> 
    <div class="col-md-12">
        <br><br><br><br><br><br>
    </div>
  </div>
</article>

<article class="container">
    <div class="row" style="text-align:left; margin-left:-6.80em"> 
	<div class="col-md-7"> 
			<ul>
				<li class="ls" id="candotxt">&nbsp;<font color="#d3672f">Grow</font>&nbsp;a new Artificial Body </li>
				<li class="ls" id="candotxt">&nbsp;Use synthetic&nbsp;<font color="#d3672f">Genes</font>&nbsp;to alter it</li>
				<li class="ls" id="candotxt">&nbsp;<font color="#d3672f">Breed</font>&nbsp;it with another</li>
        <li class="ls" id="candotxt">&nbsp;<font color="#d3672f">Trade</font>&nbsp;it with others</li>
				<li class="ls" id="candotxt">&nbsp;<font color="#d3672f">Create</font>&nbsp;a new online Identity; Unique and Permanent</li>
        <li class="ls" id="candotxt">&nbsp;Step into it and <font color="#d3672f">Walk</font> the path of the Ascended</li>
			</ul>
    </div>
    <div class="col-md-5"> 
    </div>
  </div>
</article>

<article class="container">
    <div class="row"> 
    <div class="col-md-12">
        <br><br><br>
    </div>
  </div>
  <div class="row" style="text-align:left; margin-left:-3.20em">
    <div class="col-md-12">
            <div id="h4atxt" >
                    Your Creation, Your Choice, Your Ascendance;<br><br>
            </div>
            <div id="h4btxt" >
                    Experience Synthetic Immortality...
            </div>
    </div>
  </div>
</article>

<article class="container">
  <div class="row"> 
    <div class="col-md-12">
        <br><br><br><br><br><br>
    </div>
  </div>
</article>

<article class="humanoid-container">
  <div class="row"> 
    <div class="col-md-12">
      <div id="humanoid" style="text-align:center">
			  <img style="display:block" class="bottom" src="../assets/img/67dfe9c2f776a2400d6e88acf84fc290.0.png" />
      </div>
    </div>
  </div>
</article>

