<article class="container"> 
    <div class="row" >
      <br><br>
    </div> 
</article>

<article class="container" style="margin-bottom:20px;">
    <div class="row" style="text-align:left; margin-left:4.10em"> 
		<div class="col-md-3"> 
		</div>
		<div class="col-md-3"> 
			<ul>
				<li ><a href="#creator" id="foottxt"> &nbsp;The Creator</a>  </li> 
				<li ><a href="#activity" id="foottxt"> &nbsp;Activity</a>  </li> 
				<li ><a href="#search" id="foottxt"> &nbsp;Search</a>  </li> 
				<li ><a href="#exhibit" id="foottxt"> &nbsp;The Exhibition</a>  </li> 
				<li ><a href="#faqs" id="foottxt"> &nbsp;FAQs</a>  </li> 
				<li ><a href="#help" id="foottxt"> &nbsp;Help &amp; Support</a>  </li> 
			</ul>
		</div>
		<div class="col-md-3"> 
			<ul>
				<li ><a href="#whatisAP" id="foottxt"> &nbsp;Ascendant Prime </a>  </li> 
				<li ><a href="#press" id="foottxt"> &nbsp;Press</a>  </li> 
				<li ><a href="#tech" id="foottxt"> &nbsp;Tech details</a>  </li> 
				<li ><a href="./assets/pdf/Satoshi_White_Paper_EN.pdf" id="foottxt" target="_blank" > &nbsp;White Paper </a>  </li> 
				<li ><a href="./assets/pdf/Ascendant_Prime_One_Pager.pdf" id="foottxt" target="_blank"  > &nbsp;One pager</a>  </li> 
				<li ><a href="#latest" id="foottxt"> &nbsp;Latest updates</a>  </li> 
			</ul>
		</div>
		<div class="col-md-3"> 
		</div>
	</div>
</article>		

<article class="container"> 
    <div class="row" >
      <br><br>
    </div> 
</article>

<article class="container">
    <div class="row" style="text-align:center;margin-bottom:40px;"> 
		<div class="col-md-12"> 
			<div class="socmedlinks" > 
			  <a href="https://www.facebook.com/ascendantprime/" target="_blank" class="soc-link w-inline-block" title="Facebook"><img id="imgfacebook" src="./assets/svg/facebook.svg"></a> 
			  <a href="https://reddit.com/ascendantprime" target="_blank" class="soc-link w-inline-block" title="Reddit"><img id="imgreddit" src="./assets/svg/reddit.svg"></a>
			  <a href="https://twitter.com/ascendantprime" target="_blank" class="soc-link w-inline-block" title="Twitter"><img id="imgtwitter" src="./assets/svg/twitter.svg"></a> 
			  <a href="https://www.youtube.com/ascendantprime/" target="_blank" class="soc-link w-inline-block" title="youtube"><img id="imgyoutube" src="./assets/svg/youtube.svg"></a> 
			  <a href="https://instagram.com/ascendantprime" target="_blank" class="soc-link w-inline-block" title="instagram"><img id="imginstagram" src="./assets/svg/instagram.svg"></a> 
			  <a href="https://discord.com/ascendantprime" target="_blank" class="soc-link w-inline-block" title="Discord"><img id="imgdiscord" src="./assets/svg/discord.svg"></a>
			  <a href="https://t.me/joinchat/FOM1dhDy40zEGrVIPZXZXg" target="_blank" class="soc-link w-inline-block" title="Telegram"><img id="imgtelegram" src="./assets/svg/telegram-blue.svg"></a> 
			  <a href="https://join.slack.com/t/microstoma/shared_invite/enQtNDU1Nzc4Nzg4NTkyLWFkZTkxMjhiYjI4ZWZiYzM0YjQ5MDU2YTA1MzcyZWYxNDA2MTc4MTMxMzQ0YTAzYjNhNmY1YTY2NTQ0NGVjOTE" target="_blank" class="soc-link w-inline-block" title="Slack"><img id="imgslack" src="./assets/svg/slack.svg"></a> 
			  <a href="https://medium.com/ascendantprime" target="_blank" class="soc-link w-inline-block" title="Telegram"><img id="imgmedium" src="./assets/svg/medium.svg"></a> 
			  <a href="/cdn-cgi/l/email-protection#6b" target="_blank" class="soc-link w-inline-block" title="E-Mail"><img id="imgmailto" src="./assets/svg/mailto.svg"></a> 
			  </div>
		</div>
	</div>
</article>

<nav class="navbar navbar-dark bg-dark" >
  <div class="navbar-expand m-auto navbar-text" id="poweredby">
    Powered By&nbsp;<strong ><a href="https://gc.io/home" id="gravcodes">&nbsp;Gravity Codes Ltd</a></strong>
  </div>
</nav>